<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">LegLook</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/house" class="nav-item nav-link">House</a>
          </li>
          <li>
            <a href="/senate" class="nav-item nav-link">Senate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{outlet}}
</div>
